<include("src/layouts/default")>
    <@title>
        About pwa and MarkoJS
    </@title>
    <@styles>
        <link href="/static/bundle.css" media="all" rel="stylesheet" />
    </@styles>
    <@scripts>
        <script src="/static/bundle.js"></script>
    </@scripts>
    <@body>
        <header>
             <h1> <a href="/">Go home</a></h1>
        </header>
        <app/>
    </@body>
</include>